<div class="site-name">
  My notes
</div>
<ul class="nav">
  <%- nav = {'Home'=>'/','Operation'=>'/operations'}%>
  <%- cur_path = request.path%>
  <%- cur_path = '/' if cur_path == '/notes'%>
  <%- nav.each do |k,v|%>
    <%- s = cur_path == v ? 'active' : ''%>
    <li class="<%=s%>">
    <a href="<%=v%>"><%=k%></a>
    </li>
  <%- end%>
</ul>

